html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #2979ff;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 6px;
  padding: 15px 20px;
  width: 100%;
  border: none;
}

.heading {
  color: #1a1a1d;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-decoration: none;
  background: rgb(26, 26, 29);
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
}
.button:hover {
  background: rgb(26, 26, 29, 0.8);
}

.mt-20 {
  margin-top: 20px;
}
.joinError {
  margin-top: 10px;
  color: red;
}
@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
